

<div class="col-lg-9 col-sm-8 col-xs-12 text-<%=theme.content.text%>" >
<br/>
  <h1><%=page.title%></h1>
</div>
<div class="container col-xs-12">
  <div class=" row">

  <div class="col-lg-9 col-sm-8 col-xs-12 text-<%=theme.content.text%>">
    <div style="color: #495057;" class="card <%=theme.content.theme%> <%=theme.content.textlight?'text-light':''%>">
      <div class="card-header <%=theme.index.theme%> md-3">
        <%=page.date%>
      </div>
      <div class="card-body" style="min-height:20rem">
        <article id="post" class="card-text" >
          <%-page.content%>
        </article>
      </div>
    </div>

    <div id="disqus_thread"></div>
    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://npofsi.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        <% if(theme.github.gitment.enable){ %>
        <div id="comments">
        </div>
        <% } %>
  </div>
  <br/>
  <div class="col-lg-3 col-sm-4 col-xs-12">
    <%-partial('partials/friends-card')%>
  </div>

  </div>
</div>
