

<div class="col-lg-9 col-sm-8 col-xs-12 text-<%=theme.content.text%>" >
<br/>
  <h1><%=page.title%></h1>
</div>
<div class="container col-xs-12">
  <div class=" row">

  <div class="col-lg-9 col-sm-8 col-xs-12 text-<%=theme.content.text%>">
    <div class="card <%=theme.content.theme%> <%=theme.content.textlight?'text-light':''%>">
      <div class="card-header <%=theme.index.theme%> md-3">
        <%=page.date%>
      </div>
      <div class="card-body" style="min-height:20rem">
        <article id="post" class="card-text" >
          <%-page.content%>
        </article>
        <script>
          var src=document.getElementById('post').innerHTML;
          var res=MarkdownIt.render(src);
          document.getElementById('post').innerHTML=res;
        </script>
      </div>
    </div>

        <% if(theme.github.gitment.enable){ %>
        <div id="comments">
        </div>
        <% } %>
  </div>
  <br/>
  <div class="col-lg-3 col-sm-4 col-xs-12">
    <%-partial('partials/friends-card')%>
  </div>

  </div>
</div>
